// SIZE VARIABLES
$max-width-desktop: 1256px;


// SOCIAL MEDIA COLORS
$linkedin-color: #8d6cab;
$facebook-color: #1d3469;
$google-color: #dd4b39;
$youtube-color: #cd201f;
$instagram-color: #e95950;

// COLORS
$black: #010207;
$blue: #121949;
$grey: #BBC3C8;
$light-grey: #FAFAFA;
$grey2: #9AA6AD;
$dark-grey: #707070;
$green: #30B6BC;
$yellow: #FFB743;
$pastel-yellow: #FEDAA5;
$light-blue: #4376BC;
$dark-blue-desaturated: #576B77;
$orange: #F9672D;

$colors: (
  "black" $black,
  "blue" $blue,
  "desaturated-blue" $dark-blue-desaturated,
  "grey" $grey,
  "green" $green,
  "orange" $orange
);


// TRANSITIONS
$transition-default: all .125s ease;